@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	/* color: #3b393d;
	background: #f0f0f0; */
	color: #fff;
	background: #212121;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .codrops-header,
body.body--hidden .content--related,
body.body--hidden footer {
	opacity: 0;
}

.codrops-header,
.content--related,
footer {
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

a {
	text-decoration: none;
	color: #2BB24C;
	outline: none;
	font-weight: 500;
}

a:hover,
a:focus {
	text-decoration: underline;
}

header a {
	/* color: #00EAD0; */
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */

.codrops-header {
    margin: 3em 3em 2em 5em;
    text-align: left;
    max-width: 425px;
}

.codrops-header h1 {
	font-size: 2em;
	font-weight: 300;
	line-height: 1.2;
	margin: .5em 0 .85em;
}

.codrops-header h1 span {
	display: block;
	font-weight: 700;
}

/* headlines */
h2 {
	
}

h3 {
    font-size: 1.15em;
    line-height: 1;
    margin: 1.5em 0 .3em;
    color: #000;
	opacity: 0.5;
	font-weight: 300;
    letter-spacing: -0.022em;
}

h3 a {
	text-decoration: none;
	color: #000;
	font-weight: 300;
}
h3 a:hover {
	text-decoration: underline;
}

/* paragraph */
p {
	margin: 0 0 1em;
}

header p {
	font-size: 1.15em;
}

p#copyright {
    opacity: .54;
	margin: 0;
	font-size: .95em;
}
p#copyright a {
	color: #fff;
}
p#copyright a:hover {
	opacity: 1.0;
}
p#tone {
	opacity: .54;
	font-size: .95em;
}

.role {
	visibility: hidden;
	height: 0;
}

/* card parameters */
.card__copy p {
    margin: 0 auto 1em auto;
    max-width: 600px;
	font-family: 'Times New Roman', Times, serif;
}
.card__copy h3 {
	margin: 1.5em auto .3em auto;
	max-width: 600px;
}
.card-footer {
	background-color: #f6f6f6;
	height: 250px;
	position: relative;
	margin: 75px -900px 0;
    padding: 0 900px;
}
.card-footer button {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(0, -50%);
    display: block;
    background: none;
    padding: 5px 20px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1.35em;
}

/* videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* images */
.card__copy img {
	display: block;
	margin: 0 auto;
	padding: 0 0 3em 0;
	width: 100%;
	max-width: 750px;
}

.imgContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
	clear: both;
}

.noPadding {
	padding: 0 !important;
}

.halfImg {
	float: left;
	width: 49% !important;
}
.rightImg {
	float: right;
}
.iPhoneApp {
	max-width: 300px !important;
}

.xcode {
	max-height: 667px;
}

.wideImage {
	width: 100%;
	max-width: 1400px;
}

/* footer */
footer {
    margin: 0 3em 3em 5em;
    text-align: left;
    max-width: 425px;
}

footer p {
	font-size: 1.15em;
}

.codrops-icon--drop:before {
	content: '\e001';
}

.codrops-icon--prev:before {
	content: '\e004';
}
/* Demo links */

.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 .5em;
}

.codrops-demos a.current-demo {
	font-weight: bold;
	color: #3b393d;
}
/* Content */

.content {
	padding: 1em 0 2em;
}
/* Related demos */

.content--related {
	font-weight: bold;
	text-align: center;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.media-item__img {
	max-width: 100%;
	opacity: .3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 95%;
	max-width: 1366px;
	margin: 0 auto;
}
@media screen and (max-width: 600px) {
	.halfImg {
		float: none;
		width: 100%;
	}
	.rightImg {
		padding: none;
	}
}

@media screen and (max-width: 50em) {
	.codrops-header,
	footer {
		margin: 3em 10% 4em;
    	/* width: 100%; */
	}
	.rightImg {
		margin: 0 auto;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2em;
		line-height: 1.2;
	}
}

